.c-book-list {
  overflow-y: scroll;
}
.c-book-list__item {
  display: flex;
  padding: 32px;
  border-bottom: 1px solid #cccccc;
}
.c-book-list__img {
  margin-right: 24px;
  width: 128px;
}
.c-book-list__text {
  flex: 1;
}
.c-book-list__title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
}
.c-book-list__description {
  overflow: hidden;
  display: -webkit-box;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* ブラウザがサポートしていない場合のフェールセーフ */
  max-height: 50px;
}
.c-book-list__other {
  margin-top: 8px;
  font-size: 14px;
}

.c-book-list-action {
  margin-top: 16px;
}
.c-book-list-action__link {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 8px;
  background: #68c8ce;
  color: #ffffff;
  text-decoration: none;
}
.c-book-list-action__link:hover {
  background: #54bec4;
}
